@model User
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Golden Taurus</title>
    <link rel="stylesheet" asp-href-include="css/admin.css" />
</head>
<body>
    <div id="wrapper">
        <header id="adminBar">
            Welcome to the Golden Taurus
        </header>
        <div id="contentBar">
            <section id="contentFull">
                <article>
                    <h1>Create Account</h1>

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <div class="control">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="text-box" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="text-box" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="text-box" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="text-box" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </article>
            </section>
        </div>
        <footer id="mainFooter">&copy; @DateTime.Now.Year - My CMS</footer>
    </div>
</body>

