<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(((string[])ViewData["Meta"])[0])</title>
    <meta name="keywords" content="@(((string[])ViewData["Meta"])[1])" />
    <meta name="description" content="@(((string[])ViewData["Meta"])[2])" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/site/css/animate.css">

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/site/css/icomoon.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/site/css/bootstrap.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="/site/css/flexslider.css">
    <link rel="stylesheet" href="/site/css/style.css">

    <!-- Modernizr JS -->
    <script src="/site/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
    @*https://www.free-css.com/assets/files/free-css-templates/preview/page235/words/*@
    <nav id="fh5co-main-nav" role="navigation">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
        <div class="js-fullheight fh5co-table">
            <div class="fh5co-table-cell js-fullheight">
                <h1 class="text-center"><a class="fh5co-logo" href="#">Menu</a></h1>
                @await Component.InvokeAsync(nameof(SiteMenu))
                <p class="fh5co-social-icon">
                    <a href="#"><i class="icon-twitter2"></i></a>
                    <a href="#"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-dribbble2"></i></a>
                    <a href="#"><i class="icon-youtube"></i></a>
                </p>
            </div>
        </div>
    </nav>

    <div id="fh5co-page">
        <header>
            <div class="container">
                <div class="fh5co-navbar-brand">
                    <div class="row">
                        <div class="col-xs-6">
                            <h1 class="text-left">
                                @await Component.InvokeAsync(nameof(SiteInfo))
                            </h1>
                        </div>
                        <div class="col-xs-6">
                            <p class="fh5co-social-icon text-right">
                                <a href="#"><i class="icon-twitter2"></i></a>
                                <a href="#"><i class="icon-facebook2"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-dribbble2"></i></a>
                                <a href="#"><i class="icon-youtube"></i></a>
                            </p>
                        </div>
                    </div>
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="section-title">About Words</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                        </div>

                        <div class="col-md-3 col-md-push-1">
                            <h3 class="section-title">Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Work</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">API</a></li>
                                <li><a href="#">FAQ / Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="section-title">Information</h3>
                            <ul>
                                <li><a href="#">Terms &amp; Condition</a></li>
                                <li><a href="#">License</a></li>
                                <li><a href="#">Privacy &amp; Policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="section-title">Newsletter</h3>
                            <p>Subscribe for our newsletter</p>
                            <form class="form-inline" id="fh5co-header-subscribe">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-0">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                            <button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row copy-right">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icon">
                                <a href="#"><i class="icon-twitter2"></i></a>
                                <a href="#"><i class="icon-facebook2"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-dribbble2"></i></a>
                                <a href="#"><i class="icon-youtube"></i></a>
                            </p>
                            <p>Copyright 2021 Free Html5 <a href="#">Words</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="/site/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/site/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/site/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/site/js/jquery.waypoints.min.js"></script>
    <!-- Counters -->
    <script src="/site/js/jquery.countTo.js"></script>
    <!-- Flexslider -->
    <script src="/site/js/jquery.flexslider-min.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="/site/js/main.js"></script>
</body>
</html>
